/* Header adjust */
@media only screen and (max-width: 1360px) {
    #header-logo-link {
        width: 25%;
    }

    .header-phone-icon {
        width: unset;
        height: unset;
        line-height: unset;
        background-color: unset;
        color: unset;
    }

    .header-contact {
        width: 19%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* Margin adjust */
@media only screen and (max-width: 1230px) {
    #home-header {
        margin: 0px 50px;
    }
    #home-container >div {
        margin: 120px 56px;
        padding: 0 20px;
    }
}

/* Feature courses adjust */
@media only screen and (max-width: 1200px) {
    .ft-course-img,
    .blog-item-img {
        height: 600px;
    }
    .ft-course-props {
        justify-content: unset;
        gap: 20px;
    }
    .ft-course-btn-view {
        height: 56px;
    }
    .blog-item-read-more {
        display: none;
    }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .intro-bg-main {
        flex-direction: column;
    }
    .intro-bg-left,
    .intro-bg-right {
        width: unset;
    }
    .intro-bg-left {
        padding: 100px 0;
        text-align: center;
    }
    .intro-left-desc {
        margin: 37px 0;
    }
    .intro-btn-wrap {
        justify-content: center;
    }
    .intro-img-teacher-wrap {
        display: flex;
        justify-content: center;
    }
    .intro-teacher-img {
        width: 85%;
    }
    .intro-elements-wrap {
        padding: 0;
    }
    .reason-body {
        width: 80%;
    }
    #home-footer {
        padding: 70px 80px 15px 80px;
    }
    .footer-contact {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    #home-container >div {
        margin: 60px 0;
    }
    .intro-bg-main {
        padding: 0 16px;
    }
    .intro-btn-wrap {
        flex-direction: column;
    }
    .teacher-prop {
        display: none;
    }
    .intro-bg-left {
        padding: 60px 0;
    }
    .intro-elements-wrap {
        margin: 32px 0
    }
    .intro-elements-item {
        flex-direction: column;
    }
    .ft-courses-title-fir {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .ft-courses-title-sec {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .ft-courses-header {
        margin-bottom: 24px;
    }
    .ft-course-img,
    .blog-item-img {
        height: 250px;
    }
    .ft-course-item-body {
        padding: 15px;
    }
    .ft-course-name {
        font-size: 18px;
    }
    .ft-courses-desc,
    .ft-course-desc,
    .ft-course-props-item {
        font-size: 14px;
    }
    .ft-course-btn-view {
        height: 40px;
    }
    .ft-course-separator {
        margin: 15px 0;
    }
    .reason-body {
        padding: 60px 0;
    }
    .review-content {
        padding: 60px 0;
    }
    .review-content-body {
        margin-top: 20px;
    }
    .review-content-msg-wrap {
        padding: 0 18px;
    }
    .review-content-reviewer {
        padding: 0 18px;
    }
    .review-quote-right {
        right: 20px;
    }
    .heading-center-desc {
        margin: 0 0 32px;
    }
    #home-footer {
        padding: 32px;
    }
    .header-contact {
        display: none;
    }
    #home-header {
        position: relative;
        margin: 0;
    }
    #home-header nav {
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: unset;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        z-index: 1;
        align-items: flex-start;
        border-top: solid 2px var(--primary-color);
    }
    #header-logo-link {
        width: unset;
        margin-left: 32px;
    }
    .home-menu-bar {
        font-size: 28px;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        height: 96px;
        padding: 0 32px;
    }
    .header-links-item {
        padding: 15px 0;
        font-size: 18px;
        margin-left: 40px;
        width: 100%;
    }
    .header-nav-hidden {
        display: none !important;
    }
}
